    /*globales*/
    
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        background-color: #ffffff;
        color: #46484a;
    }
    
    a {
        color: #4fa8a3;
    }
    
    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 4rem;
        font-weight: 600;
    }
    
    h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 2.8rem;
        font-weight: 400;
    }
    
    h3 {
        font-family: 'Oswald', sans-serif;
        font-size: 2rem;
        font-weight: 300;
    }
    
    h4 {
        font-family: 'Oswald', sans-serif;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    p {
        font-family: 'Roboto', sans-serif;
        color: #696b6e;
        font-size: .9rem;
    }
    
    body {
        background-color: #000000;
    }
    
    main {
        background-color: #ffffff;
    }
    
    .divider {
        display: block;
        width: 6rem;
        height: 0.3rem;
        background-color: #dfe1e5;
        margin: 2rem auto;
    }
    
    .divider-trans {
        display: block;
        width: 10rem;
        height: 3rem;
        background-color: transparent;
    }
    
    .cta-5 {
        color: #46484a;
        padding: 4rem 0;
    }
    
    .cta-5 p {
        color: #696b6e;
    }
    
    .cta-5 form.subscribe {
        max-width: 40rem;
        margin: 0 auto;
    }
    
    .cta-5 .btn {
        width: 100%;
    }
    /*
.about,
.servicios,
.contactanos {
    padding-top: 3rem;
}
*/
    
    .btn-secondary,
    .btn-success,
    .btn-primary {
        font-family: Arial, Helvetica, sans-serif;
        font-size: .85rem;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: .9rem;
        max-width: 300px;
        height: auto;
    }
    
    .btn-primary {
        background-color: #484848;
        border-color: #484848;
    }
    
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
        background-color: #60adb1;
        border-color: #60adb1;
        color: #212121;
    }
    
    .btn-success {
        background-color: #008e76;
        border-color: #008e76;
    }
    
    .btn-success:hover,
    .btn-success:focus,
    .btn-success:active {
        background-color: #5df2d6;
        border-color: #5df2d6;
        color: #212121;
    }
    
    .pill-btn {
        border-radius: 499rem !important;
    }
    /*nav-fixed*/
    
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
    
    .logo {
        width: 130px;
        height: auto;
    }
    /*video*/
    
    header {
        position: relative;
        background-color: black;
        min-height: 25rem;
        width: 100%;
        height: 90vh;
        overflow: hidden;
    }
    
    header video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        filter: blur(1px);
    }
    
    header .container {
        position: relative;
        z-index: 2;
    }
    
    header .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.2;
        z-index: 1;
    }
    
    @media (pointer: coarse) and (hover: none) {
        header .overlay {
            background-image: url("../imagenes/otras/mundo-2.jpg");
            background-position: center;
            background-size: cover;
        }
        header video {
            display: none;
        }
    }
    
    .lead-p {
        color: #c9c7c7;
        font-weight: 300;
        padding-bottom: 0.5rem;
    }
    
    @media (max-width: 768px) {
        header .overlay-about {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: url("../imagenes/makhalu-3-min.jpg");
            background-position: center center;
            background-size: cover;
            background-color: black;
            opacity: 0.8;
            z-index: 1;
        }
    }
    
    header .overlay-about {
        position: absolute;
        top: 0;
        left: 0;
        height: 55vh;
        width: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("../imagenes/equipo-trabajo.jpg");
        background-position: center center;
        background-size: cover;
        z-index: 1;
    }
    
    @media (max-width: 992px) {
        .texto-foto p {
            font-size: 18px;
            color: rgba(255, 255, 255, 0.679);
            text-align: center;
            margin: 2rem;
            margin-top: 0;
        }
    }
    
    @media (min-width: 992px) {
        .texto-foto p {
            font-size: 18px;
            color: rgba(255, 255, 255, 0.679);
            text-align: center;
            margin: 6rem;
            margin-top: 0;
        }
    }
    
    .letra {
        font-size: 60px;
    }
    
    @media (max-width: 768px) {
        .letra {
            font-size: 40px;
        }
    }
    
    .texto-p {
        font-size: 20px;
        margin-top: 2rem;
        max-width: 60%;
        margin-bottom: 1rem;
        margin-left: 0.5rem;
    }
    
    .about {
        background-color: #ffffff;
        padding-bottom: 7rem;
    }
    
    .about-soluciones {
        margin-bottom: 5rem;
    }
    
    .about span,
    .contactanos span {
        color: #008e76;
        font-weight: 900;
    }
    
    .texto-valores {
        color: rgba(182, 176, 176, 0.864);
    }
    
    .texto-valores ul li p {
        margin-bottom: 0.4rem;
    }
    
    .texto-valores ul li {
        list-style: square;
    }
    
    .texto-valores ul {
        padding-inline-start: 20px;
    }
    /*proponemos*/
    
    .div-imagen-uno,
    .div-imagen-dos,
    .div-imagen-tres {
        width: 100%;
        height: 400px;
    }
    
    .div-imagen-uno {
        background-image: url('../imagenes/innovadora-min.jpg');
        background-position: center center;
        background-size: cover;
    }
    
    .div-imagen-dos {
        background-image: url('../imagenes/creativa-min.jpg');
        background-position: center center;
        background-size: cover;
    }
    
    .div-imagen-tres {
        background-image: url('../imagenes/disruptiva-min.jpg');
        background-position: center center;
        background-size: cover;
    }
    /*letras uno*/
    
    @keyframes typewriter {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
    
    @keyframes blinkTextCursor {
        from {
            border-right-color: rgba(255, 255, 255, .75);
        }
        to {
            border-right-color: transparent;
        }
    }
    
    .letras-uno {
        font-family: 'Oswald', sans-serif;
        position: relative;
        height: 400px;
        width: 100%;
        background-color: #000a12;
        color: white;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: -3px;
    }
    
    .line-1 {
        position: relative;
        top: 30%;
        margin: 0 auto;
        border-right: 2px solid rgba(255, 255, 255, .75);
        font-size: 180%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
    }
    /* Animation */
    
    .anim-typewriter {
        animation: typewriter 2s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) 1 normal;
    }
    /*letras dos*/
    
    @keyframes typewriter {
        from {
            width: 0%;
        }
        to {
            width: 100%;
        }
    }
    
    @keyframes blinkTextCursor {
        from {
            border-right-color: rgba(255, 255, 255, .75);
        }
        to {
            border-right-color: transparent;
        }
    }
    
    .letras-dos {
        font-family: 'Oswald', sans-serif;
        position: relative;
        height: 400px;
        width: 100%;
        background-color: white;
        color: #212121;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: -3px;
    }
    
    .line-1 {
        position: relative;
        top: 30%;
        margin: 0 auto;
        border-right: 2px solid rgba(255, 255, 255, .75);
        font-size: 180%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
    }
    /* Animation */
    
    .anim-typewriter {
        animation: typewriter 2s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) 1 normal;
    }
    /*letras tres*/
    
    @keyframes typewriter {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
    
    @keyframes blinkTextCursor {
        from {
            border-right-color: rgba(255, 255, 255, .75);
        }
        to {
            border-right-color: transparent;
        }
    }
    
    .letras-tres {
        font-family: 'Oswald', sans-serif;
        position: relative;
        height: 400px;
        width: 100%;
        background-color: #212121;
        color: white;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: -3px;
    }
    
    .line-1 {
        position: relative;
        top: 30%;
        margin: 0 auto;
        border-right: 2px solid rgba(255, 255, 255, .75);
        font-size: 180%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
    }
    /* Animation */
    
    .anim-typewriter {
        animation: typewriter 2s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) 1 normal;
    }
    /*Servicios*/
    
    .servicios {
        background-color: #000000;
        margin-bottom: 4rem;
    }
    
    .row-servicios {
        margin-top: 4rem;
    }
    
    header .overlay-servicios {
        position: absolute;
        top: 0;
        left: 0;
        height: 55vh;
        width: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("../imagenes/makhalu-2.jpeg");
        background-position: center center;
        background-size: cover;
        z-index: 1;
    }
    
    .titulo-lg-servicios {
        position: absolute;
        top: 40%;
    }
    
    .texto-servicios {
        top: 95%;
        color: white;
        padding-top: 2rem;
    }
    
    .texto-servicios span {
        color: #008e76;
        font-weight: 900;
    }
    
    .imagen-servicios {
        padding-right: 0px;
        padding-left: 0px;
    }
    /*Formulario*/
    
    .contactanos {
        background-color: #001725
    }
    
    .contactanos h2 {
        color: #fff;
    }
    /*Animación tierra*/
    
    .planeta {
        animation-name: planeta;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        -webkit-animation-name: planeta;
        /* Chrome, Safari, Opera */
        -webkit-animation-duration: 10s;
        /* Chrome, Safari, Opera */
        -webkit-animation-iteration-count: infinite;
        /* Chrome, Safari, Opera */
        -webkit-animation-timing-function: linear;
        /* Chrome, Safari, Opera */
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-top: 3rem;
    }
    
    .planeta,
    .planeta .tierra {
        height: 400px;
        width: 400px;
    }
    
    @media (max-width: 768px) {
        .planeta,
        .planeta .tierra {
            height: 280px;
            width: 280px;
        }
    }
    
    @keyframes planeta {
        100% {
            -ms-transform: rotate(360deg);
            /* IE 9 */
            -webkit-transform: rotate(360deg);
            /* Chrome, Safari, Opera */
            transform: rotate(360deg);
        }
    }
    /* Chrome, Safari, Opera */
    
    @-webkit-keyframes planeta {
        100% {
            -ms-transform: rotate(360deg);
            /* IE 9 */
            -webkit-transform: rotate(360deg);
            /* Chrome, Safari, Opera */
            transform: rotate(360deg);
        }
    }
    
    .formulario {
        border-radius: 20px 20px 20px 20px;
        border: #484848 solid 3px;
        background-color: #fff;
        padding: 2rem;
        max-width: 40%;
        height: 60%;
        text-align: center;
        box-shadow: 11px 11px 27px -9px rgba(0, 142, 115, 0.73);
        -webkit-box-shadow: 11px 11px 27px -9px rgba(0, 142, 115, 0.73);
        -moz-box-shadow: 11px 11px 27px -9px rgba(0, 142, 115, 0.73);
    }
    
    @media (max-width: 768px) {
        .formulario {
            max-width: 100%;
            height: auto;
            margin: 1rem;
        }
    }
    
    @media (min-width: 768px) and (max-width: 992px) {
        .formulario {
            margin: 2rem 0 0 3rem;
            max-width: 80%;
            height: 70%;
        }
    }
    /*contacto*/
    
    .contacto {
        background-color: #000000;
        padding: 2rem;
    }
    
    .contacto h6 {
        color: rgba(250, 247, 247, 0.864);
    }
    
    .contacto h4 {
        color: rgba(250, 247, 247, 0.864);
    }
    
    .contacto a h6:hover {
        color: #008e76;
    }
    
    .contacto a {
        text-decoration: none;
    }
    
    header .overlay-contacto {
        position: absolute;
        top: 0;
        left: 0;
        height: 55vh;
        width: 100%;
        background: linear-gradient(to right, rgba(250, 245, 245, 0), rgba(255, 255, 255, 1)), url("../imagenes/makhalu-1.jpeg");
        background-position: center center;
        background-size: cover;
        z-index: 1;
    }
    
    .imagen-contato {
        padding: 3rem;
    }
    
    .contact-2 {
        padding: 0 0 5rem 0;
    }
    
    .contact-2 .contact-details {
        padding-top: 5rem;
        padding-bottom: 1rem;
    }
    
    .contact-2 h3 {
        margin-bottom: 0;
    }
    
    .constrain-width {
        max-width: 45rem;
        margin: 0 auto;
    }
    
    .form-control-custom {
        border: 0.1rem solid #dfe1e5;
        width: 100%;
        padding: 1rem;
        font-size: .9rem;
        color: #696b6e;
        border-radius: .3rem;
    }
    
    .form-control-custom:focus {
        border: 0.1rem solid #5df2d6;
        outline: none;
    }
    /*footer*/
    
    .footer-2 a {
        text-decoration: none;
    }
    
    .footer-2 a :hover {
        color: #008e76;
    }
    
    .footer-2 {
        background: #000a12;
        min-height: 5rem;
        width: 100%;
        color: #fff;
        padding-top: 2rem;
        padding-bottom: 1.5rem;
        font-family: 'roboto', sans-serif;
    }
    
    .footer-2 a.navbar-brand {
        color: #fff !important;
    }
    
    .footer-2 .nav-footer .nav-link {
        color: #dfe1e5;
    }
    
    .footer-2 .nav-footer .nav-link:hover {
        color: #60adb1;
    }
    
    .nav-footer {
        list-style: none;
        float: right;
    }
    
    .nav-footer li {
        float: left;
        margin-top: .5rem;
    }
    
    .footer-2 .divider {
        background: #46484a;
        width: 100%;
        height: .1rem;
        margin: 2rem 0 1.5rem 0;
    }
    
    @media screen and (max-width: 768px) {
        .nav-footer {
            width: 100%;
            padding: 0;
            display: flex;
            justify-content: center;
        }
    }
    /*redes*/
    
    .social {
        margin: 0 auto;
        padding: 0;
    }
    
    .social li {
        display: inline-block;
    }
    
    .social li a {
        display: block;
        width: 2.2rem;
        height: 2.2rem;
        margin: .4rem .1rem;
        text-align: center;
        text-decoration: none;
        line-height: 1.3;
        margin: 0.3rem;
    }
    
    .bi-instagram,
    .bi-twitter,
    .bi-facebook,
    .bi-linkedin,
    .bi-envelope-fill,
    .bi-geo-fill {
        font-size: 1.5rem;
        color: #4f5b62;
    }
    
    .bi-facebook:hover,
    .bi-instagram:hover,
    .bi-twitter:hover,
    .bi-linkedin:hover,
    .bi-envelope-fill:hover,
    .bi-geo-fill:hover {
        color: #008e76;
    }
    /*iconos flotantes*/
    
    .bi-arrow-up-circle-fill {
        font-size: 3rem;
        color: #696b6e;
        margin-left: 0.5rem;
    }
    
    .bi-arrow-up-circle-fill:hover {
        font-size: 3.5rem;
        color: #008e76;
    }
    
    .redes-flotantes {
        position: fixed;
        right: 8px;
        top: 75%;
        z-index: 20;
    }
    
    .redes-flotantes img {
        float: right;
        clear: right;
        margin: 5px;
        -moz-transform: scale(.8);
        -webkit-transform: scale(.8);
        -o-transform: scale(.8);
        -ms-transform: scale(.8);
        transform: scale(.8);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    
    .redes-flotantes img:hover {
        -moz-transform: scale(1.1) rotate(6deg);
        -webkit-transform: scale(1.1) rotate(6deg);
        -o-transform: scale(1.1) rotate(6deg);
        -ms-transform: scale(1.1) rotate(6deg);
    }
    /*confirma, 404*/
    
    header .overlay-error {
        position: relative;
        height: 100%;
        width: 100%;
        background: rgb(2, 0, 36);
        background: linear-gradient(0deg, black 0%, rgba(0, 135, 112, 1) 50%, rgba(0, 212, 255, 1) 100%);
        color: white;
        position: absolute;
        text-align: center;
        padding-top: 15%;
    }
    
    .error-mensaje h1 {
        font-size: 80px;
    }
    
    .error-mensaje p {
        font-size: 18px;
        color: #dfe1e5;
        font-weight: 400;
        margin: 1rem;
    }
    /*política de privacidad*/
    
    .privacidad-mensaje {
        font-size: 18px;
        color: #dfe1e5;
        font-weight: 400;
        margin: 5rem 3rem;
        text-align: center;
    }
    /*banderas*/
    
    .bandera {
        width: 40px;
        height: 40px;
    }
    
    .paises {
        margin-top: 3rem;
    }
    
    .label-idioma {
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
    }